/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

/* Light and Dark Mode */
body.light-mode {
    background-color: #f8f9fa;
    color: #212529;
}

body.dark-mode {
    background-color: #121212;
    color: #f8f9fa;
}

/* Header */
header {
    padding: 20px 50px;
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.light-mode header {
    background-color: #f1f1f1;
}

.logo {
    width: 80px;
}

/* Company Info */
.company-info {
    text-align: left;
}

/* Social Icons */
.social-icons a {
    margin: 0 10px;
}

.social-icon {
    width: 30px;
}

.social-icon-lg {
    width: 60px;
}

/* About Me */
.about-me {
    text-align: center;
    padding: 60px 10%;
}

.about-me img {
    width: 150px;
    border-radius: 50%;
}

/* Projects */
.projects {
    padding: 60px 10%;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    transition: background-color 0.3s ease;
}

.dark-mode .card {
    background-color: #222;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
}

.light-mode footer {
    background-color: #f1f1f1;
}